html.roster {
  font-family: tahoma;
  font-size: $default-font-size;
  height: 100%;
  
  body, .table {
    height: 100%;
    padding: 0;
    margin: 0;
  }

  .table {
    display: table;
    table-layout: fixed;
    width: 100%;
    text-align: center;
    color: $table-font-color;
  }
  .thead {
    display: table-header-group;
    background: $thead-cell-bg-color;
    .td {
      background: $thead-cell-bg-color;
      
      .previousPeriod {
        display: inline-block;
        width: $date-nav-width;
        height: 0;
        border-style: solid;
        border-width: 5px 10px 5px 0;
        border-color: transparent #ffffff transparent transparent;
        cursor: pointer;
      }
      .nextPeriod {
        display: inline-block;
        width: $date-nav-width;
        height: 0;
        border-style: solid;
        border-width: 5px 0 5px 10px;
        border-color: transparent transparent transparent #ffffff;
        cursor: pointer;
      }
    }
  }
  .tbody {
    display: table-row-group;
    background: white;
  }
  .tr {
    display: table-row;
    &:hover {
      opacity: 0.8;
    }
    
    &.today .td {
      border-top: solid $today-color;
      border-bottom: solid $today-color;
    }
  }
  .td {
    display: table-cell;
    border: 1px solid white;
    vertical-align: middle;
    position: relative;
    background: $default-cell-bg-color;
    &:hover {
      opacity: 0.5;
    }

    &:nth-child(1) {
      width: 120px;
      background: $thead-cell-bg-color;
    }
    
    &.half {
      background: $half-day-off-bg-color;
    }
    
    &.free {
      background: $free-bg-color;
      color: $free-font-color;
    }
    
    &.out-of-office {
      .out-of-office {
        background-image: url('/img/out-of-office.png');
        width: $badge-icon-width;
        background-size: contain;
        position: absolute;
        right: 0;
        top: 0;
        height: $badge-icon-height;
        background-repeat: no-repeat;
      }
    }
    
    &.support-duty {
      .support-duty {
        background-image: url('/img/support-duty.png');
        width: $badge-icon-width;
        background-size: contain;
        position: absolute;
        right: 0;
        bottom: 0;
        height: $badge-icon-height;
        background-repeat: no-repeat;
        margin-right: 2px;
      }
    }
    
    &[data-date*=Fri] {
      border-bottom: 1px solid orange;
    }
  }
  
  [data-user-id],
  .edit-row {
    cursor: pointer;
  }
  
  .cell-edit,
  .row-edit,
  .column-edit {
    display: none;
    position: absolute;
    width: 250px;
    background: $edit-bg-color;
    border-radius: 20px;
    padding: 20px;
    color: $edit-font-color;
    
    h1 {
      font-size: 1rem;
    }
    
    label {
      display: block;
      padding: 5px;
      cursor: pointer;
    }
    
    [type='checkbox'] {
      margin-right: 5px;
    }
    
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      border-width: 16px 16px 0 0;
      border-style: solid;
      border-color: red transparent transparent red;
      display: block;
      width: 0;
    }

    &.point-left {
      border-top-left-radius: 0px;
      &.point-bottom {
        &:before {
          top: initial;
          bottom: 0;
          border-width: 0 16px 16px 0;
          border-color: red transparent red transparent;
        }
        border-top-left-radius: 10px;
        border-bottom-left-radius: 0px;
      }
    }
    &.point-right {
      border-top-right-radius: 0px;
      &:before {
        top: 0;
        left: initial;
        right: 0;
        border-width: 0 16px 16px 0;
        border-color: red red transparent transparent
      }
      &.point-bottom {
        &:before {
          top: initial;
          bottom: 0;
          border-width: 16px 16px 0 0;
          border-color: transparent red red transparent;
        }

        border-top-right-radius: 10px;
        border-bottom-right-radius: 0px;
      }
    }
    
    .close {
      position: absolute;
      top: 0;
      right: 0;
      padding: 5px 10px 0 0;
      font-size: 1.5rem;
      cursor: pointer;
      font-weight: bold;
      &:before {
        content: 'x';
      }
    }
  }
  .column-edit {
    overflow: auto;
    height: 70vh;
    &.rtl {
      direction: rtl;
    }
    > :first-child {
      direction: ltr;
      overflow: none;
    }
  }
}
