$default-font-size: 18px;
$date-nav-width: 20px;

$badge-icon-width: 15px;
$badge-icon-height: 15px;

$today-color: darkblue;
$free-bg-color: white;
$free-font-color: #aaa;
$half-day-off-bg-color: orange;
$default-cell-bg-color: green;
$thead-cell-bg-color: black;
$table-font-color: white;

$edit-font-color: white;
$edit-bg-color: #333;