<div class="table">
  <div class="thead">
    <div class="tr">
      <div class="td">Date</div>
      {{#users}}
      <div class="td">{{username}}</div>
      {{/users}}
    </div>
  </div>
  <div class="tbody">
    {{#dates}}
    <div class="tr">
      <div class="td edit-row" data-date="{{date}}">{{dateString}}</div>
      {{#users}}
      <div class="td {{#settings}}{{free}} {{out_of_office}} {{support_duty}}{{/settings}}" data-date="{{date}}" data-user-id="{{id}}"><span class="out-of-office"></span>{{username}}<span class="support-duty"></span></div>
      {{/users}}
    </div>
    {{/dates}}
  </div>
</div>
