<div class="edit-box cell-edit point-left">
  <h1>Free</h1>
  <form action="" onSubmit="return false;">
    <select name="free">
      <option value="0">--At work--</option>
      <option value="1">Half day</option>
      <option value="2">Free</option>
    </select>
    <input type="hidden" name="data-date" value=""/>
    <input type="hidden" name="data-user-id" value=""/>
  </form>
  <div class="close"></div>
</div>

<div class="edit-box row-edit point-left">
  <h1>Free</h1>
  <p>Setting for everyone for selected day</p>
  <form action="" onSubmit="return false;">
    <select name="free">
      <option value="0">--At work--</option>
      <option value="1">Half day</option>
      <option value="2">Free</option>
    </select>
    <input type="hidden" name="data-date" value=""/>
  </form>
  <div class="close"></div>
</div>

<div class="edit-box column-edit"></div>